html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,figure{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}

a img{border:none;}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	overflow: auto;
	}
.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }


body {
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	color: #2c2c2c;
}

body, html {
	height: 100%;
}

#index {
       background-color: #2c2c2c;
       color: yellow;
       text-align: center;
       font-size: 50px;
       left: 0;
       line-height: 200px;
       margin-top: -300px;
       position: absolute;
       top: 70%;
       width: 100%;
       height:50%;
}

.redirect {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	text-align: right;
	font-size: 20px;
	margin: 0;
	color:red;
}

h2 {
	font-size: 27px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-weight: 400;
}

h3 {
	font-size: 22px;
	margin-bottom: 40px;
	line-height: 30px;
}

h4 {
	font-family: 'Minion', serif;
	font-style: italic;
	text-align: center;
	font-size: 18px;
	color: #009cff;
}

h5 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

p {
	line-height: 30px;
	margin-bottom: 20px;
}

a {
	color: #009cff;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
	border-bottom: 1px solid #d2d2d2;
	text-decoration: none;
}

a:hover {
	color: #03629f;
}

#wrapper {
	width: 100%;
	height: 100%;
}

.logo {
        height: 100%
	width: 100%;
	background: left top repeat-y #202020;
	margin-bottom: 50px;
}

.logo img {
	width: 100%;
	height: auto;
	margin: 2px 0 2px 1px;
}

.logo a {
	border: none;
}

#content {
	width: 85%;
	float: left;
}

#nav {
	width: 15%;
	background: url(../images/bg-menu.png)left top repeat-y #c4c0c0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
}

#nav ul {
	list-style: none;
	margin-left: 15%;
}

#nav ul li {
	margin-bottom: 20px;
}

#nav ul li a {
	text-decoration: none;
	color: #020202;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
	font-size: 16px;
	border: none;
}

#nav ul li a:hover {
	color: #009cff;
}

#home .homeImages {
	background: #009cff;
}

#home .section {
	border-bottom: none;
}

#home .section p {
	text-align: center;
}

#content ul li {
	margin-bottom: 10px;
}

.section {
	padding: 40px 0 20px;
	width: 100%;
	border-bottom: 1px solid #d2d2d2;
}

.block {
	width: 50%;
	margin: 0 auto;
}

.homeImages {
	width: 100%;
	position: relative;
}

.homeImages img {
	width: 33.33333333333%;
	height: auto;
	float: left;
}

.homeImages .copyBlock {
	width: 33.33333333333%;
	height: 315px;
	float: left;
	text-align: center;
	color: #fff;
}

.homeImages .copyBlock h2 {
	border: none;
	margin: 38% 0 0 0;
	background: none;
	font-size: 50px;
}

.homeImages .copyBlock a {
	background: #fff;
	display: inline-block;
	padding: 6px 30px;
	border-radius: 5px;
	border: none;
	opacity: .75;
	cursor: pointer;
}

.homeImages .copyBlock a:hover {
	opacity: 1;
	cursor: pointer;
}

.blue {
	background: #009cff;
}

.blue a {
	color: #009cff;
}

.homeImages .downArrow {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -35px;
	width: auto;
	float: none;
}

.centeredBlock {
	width: 100%;
	margin-bottom: 40px;
}

.centeredBlock img {
	width: 90%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.twoColumnBlock {
	width: 100%;
	margin-bottom: 20px;
}

.twoColumnBlock .col {
	width: 46%;
	padding: 0 2%;
	float: left;
}

.twoColumnBlock .col img {
	width: 96%;
	height: auto;
	margin-bottom: 20px;
}

.socialIconBlock {
	width: 100%;
	margin-bottom: 20px;
}

.socialIconBlock .col {
	width: 33.3333333333%;
	float: left;
}

.socialIconBlock .col img {
	width: 35px;
	height: auto;
}

.socialIconBlock .col a {
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	width: 35px;
	display: block;
	margin: 0 auto 2px;
	border: none;
}

.socialIconBlock .col a:hover {
	opacity: .4;
	border-bottom: 2px solid #d2d2d2;
	margin-bottom: 0;
}

.skills {
	padding-bottom: 40px;
	border-bottom: 1px solid #d2d2d2;
	width: 100%;
	margin-bottom: 20px;
}
.skills .col img {
	width: 96%;
	height: auto;
}


/* Media Queries */


@media screen and (max-width: 1400px) {

	#content {
		width: 78%;
	}

	#nav {
		width: 22%;
	}
	
	.twoColumnBlock {
		margin-bottom: 0px;
	}
	
	.twoColumnBlock .col {
		float: none;
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
	}
	
	.twoColumnBlock .col img {
		width: 80%;
		display: block;
		margin: 0 auto 20px;
	}

}


@media screen and (max-width: 1200px) {

	.homeImages .copyBlock h2 {
		font-size: 40px;
	}

}


@media screen and (max-width: 1024px) {

	#content {
		width: 75%;
	}

	#nav {
		width: 25%;
	}
	
	.block {
		width: 60%;
	}
}

@media screen and (max-width: 900px) {
	
	.skills .col {
		float: none;
		width: 100%;
		padding: 0;
	}
	
	.skills .col img {
		width: 80%;
		display: block;
		margin: 0 auto 20px;
	}
	
	.twoColumnBlock .col img {
		width: 100%;
	}
	
	.centeredBlock img {
		width: 100%;
		height: auto;
	}
	
	.homeImages .copyBlock {
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
		height: 200px;
	}
	
	.homeImages .copyBlock h2 {
		margin-top: 52px;
	}
	
	
}

@media screen and (max-width: 640px) {

	#content, #nav {
		width: 100%;
		float: none;
		position: static;
		height: auto;
	}

	#nav {
		padding-bottom: 15px;
		background: left bottom repeat-x #eff0f1;
	}

	#nav ul {
		width: 88%;
		margin: 0 auto 5px;
		display: block;
	}
	
	.logo {
		padding: 10px 0;
		background-image: none;
	}

	.logo img {
		width: 65%;
		margin: 0 auto;
		display: block;
	}
	
	#nav ul li {
		display: inline-block;
		width: 23%;
	}

	#nav ul li a {
		text-align: center;
		display: block;
	}
	
	.homeImages .downArrow {
		width: 50px;
		height: auto;
		margin-left: -25px;
	}

	.block {
		width: 75%;
	}

	.homeImages img {
		width: 50%;
	}
	
	

}

